DGII_ECF_ENVIRONMENT=testecf
DGII_ECF_CERT_PATH=certificados/20260501-2020077-KQBYARLQB.p12
OPENSSL_CONF=config/openssl-legacy.cnf
OPENSSL_MODULES=C:\php\extras\ssl
DGII_ECF_CERT_PASSWORD=CAMBIAR_PASSWORD_DEL_CERTIFICADO
